.Card{
  margin-left: 1rem;
  padding: 1rem;
  width: 60rem;
  border-radius: 25px;
  border: 2px solid #0f4c5c;
}

.linkDiv{
  display: inline-block;
  text-decoration: none;
  padding-bottom: 1rem;

}
