/* CSS Styling for App.js */
.App {
  text-align: center;
}

.header {
  padding: 0.5rem;
  font-size: 2rem;
  color: white;
  text-align: center;
  font-weight: 700;
}

.footer{
  text-align: center;
  color: white;
  padding: 0.5rem;
}


